.navBarApp {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  height: 10vh;
  background-color: #135d66;
}

.navBarApp1 {
  padding-left: 1em;
  display: flex;
  align-items: center;
}

.navBarApp2 {
  display: flex;
  align-items: center;
}

.navBarTitle {
  font-size: 2rem;
  color: #e3fef7;
}
